@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; list-style:none; border:none; font-family:"Microsoft YaHei";}
a{ text-decoration:none;}
/*公共样式*/
.f14{ font-size:14px; color:#999999;}
.f16{ font-size:16px;}
.f18{ font-size:18px; color:#ee8d0a;}
.f22{ font-size:22px; color:#ee8d0a;}
.col6{ color:#666666;}
.fl{ float:left;}
.fr{ float:right;}
.center{ width:1001px; margin:0 auto;}
.center_right .current{ color:#0092d7;}
.center_right .currentow{ color:#0092d7; border-bottom:2px solid #0092d7;}
.control .current{ background:#0092D7; color:#ffffff;}
.personal_debt .currentOne{ background:#EE8D0A; color:#fff; border-radius:3px;}
.orange{ color:#ee8d0a; font-size:30px;}
.blue{ color:#0093D9; font-size:14px;}
/*top部分*/
.top{ width:100%; height:46px; line-height:46px; background:#f4f4f4;/* padding-top:10px;*/}
.center{ width:1001px; margin:0 auto;}
.center .login{ display:inline-block; width:58px; height:26px; line-height:26px; text-align:center; background:#ee8d0a; border-radius:5px; color:#ffffff;}
/*登陆后样式*/
.center .login_{ display:inline-block; height:26px; line-height:26px; text-align:center; color:#ee8d0a; margin-right:7px; font-size:14px;}
.mag{width:20px;height:20px; border-radius: 50%;background: #ed6d00;color: #fff;font-size: 10px; position:absolute;top:-10px;right:-10px;text-align:center;}
.mag span{position:absolute;top:0px;left:0px;width:20px;line-height:20px; display:inline-block;text-align:center;}
/*head部分*/
.header{ width:100%; height:96px; background:#FFFFFF;}
.center_left{ width:350px; height:70px; float:left; margin-top:28px;}
.center_right{ width:609px; height:96px; line-height:77px; float:right; text-align:center;}
.center_right dt{ width:105px; float:left; margin-top:8px;  height: 88px; }
.center_right dd{ width:1px; height:15px; background:#E4E4E6; float:left; margin-top:39px;}
.center_right .inDex{ display:inline-block; width:79px;}
.center_right dt a{ color:#999999; font-size:18px;}
.center_right dt a:hover{ color:#0092d7;}
/*广告位*/
.banner{ width:100%; height:267px;}
/*我们的服务*/
.weService{ width:100%; height:auto; background:#fff;}
.weService .service_text{ width:1001px; height:252px; border-bottom:2px dashed #E6E6E6; margin-bottom:40px;}
/*快速服务*/
.fastService{ width:100%; height:auto; background:#F4F4F4;}
/*服务优势*/
.advantage{ width:100%; height:auto; background:#fff;}
.advantage .advantage_ul li{ float:left;text-align:center;}
.advantage .advantage_ul li img{ margin-bottom:10px;}
.advantage .advantage_ul li span{ font-size:24px; color:#666666;}
.last{ width:1001px; height:auto; border-bottom:2px dashed #E6E6E6; margin-bottom:80px; text-align:center; padding-top:75px; font-size:18px; color:#666666;}
.last p{ margin-bottom:20px;}
/*foot*/
.foot{width: 100%;min-width:1200px;height: 220px;background: #363636;color:#d1d1d1;font-size: 14px;}
.footcon{width:1200px; margin:0 auto;padding:30px 0;position: relative;}
.conrp1{font-size: 16px;}
.conrp2{font-size: 40px;}
.foot1{ height:197px; position: absolute;left:20px;top:20px;background: url(../images/foot_bg.jpg) no-repeat  right 20px;padding-right:45px;}
.foot1 ul li{float: left; width:110px;}
.foot1 a{color:#d1d1d1; line-height:25px; font-size:14px;}
.foot1 a:hover{color:#ed6d00;}
.footh3{padding:13px 0px 20px;font-size: 16px;font-weight: normal;color: #fff;}
.foot2{position: absolute; width:400px; left:535px;top:20px;text-align: left;font-size:14px;}
.foot2 .footbg{width:32px;height:32px;display: inline-block;float: left;margin-right: 10px;}
.foot2con p span{margin-right: 15px;line-height: 25px;}
.foot3{position: absolute;right:150px;top:20px;text-align: center; background:url(../images/foot_bg.jpg) no-repeat 0px center; padding-left:50px;}
.foot3h{padding:13px 0px 15px; font-size:14px; font-weight:normal; color: #fff;}
.foot4h{height:60px;line-height:30px; font-size: 16px;font-weight: normal;padding-left:40px;margin-bottom:15px;color: #fff;padding-top: 10px;}
.foot4p1{font-size:40px;color: #d1d1d1;}
.foot4p3{margin-top: 10px;color: #fff;font-size: 16px;}
.foot4p3 img{margin-bottom: 3px;}
.foot4p4{ display: inline-block;}
.footlink{width:100%; min-width:1200px; height:40px; background: #2b2b2b;}
.footlink a{ font-size:16px; color:#fff; margin-right:30px;}



