@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; list-style:none; border:none; font-family:"Microsoft YaHei";}
a{ text-decoration:none;}
body{
    font-size: 14px;
    color: #555;
    font-family: "Microsoft YaHei",微软雅黑;
}
/*公共样式*/
.f14{ font-size:14px; color:#999999;}
.f16{ font-size:16px;}
.f18{ font-size:18px; color:#ee8d0a;}
.f22{ font-size:22px; color:#ee8d0a;}
.col6{ color:#666666;}
.fl{ float:left;}
.fr{ float:right;}
.center{ width:1001px; margin:0 auto;}
.center_right .current{ color:#0092d7;}
.control .current{ background:#0092D7; color:#ffffff;}
.personal_debt .currentOne{ background:#EE8D0A; color:#fff; border-radius:3px;}
.orange{ color:#ee8d0a; font-size:30px;}
.blue{ color:#0093D9; font-size:14px;}
/*top部分*/
.top{ width:100%; height:46px; line-height:46px; background:#EBEBEB;/* padding-top:10px;*/}
.center .login{ display:inline-block; width:58px; height:26px; line-height:26px; text-align:center; background:#ee8d0a; border-radius:5px; color:#ffffff;}
/*head部分*/
.header{ width:100%; height:96px; background:#F4F4F4;}
.center_left{ width:295px; height:57px; float:left;}
.center_left li{ float:left;}
.center_right{ width:609px; height:96px; line-height:77px; float:right; text-align:center;}
.center_right dt{ width:105px; float:left; margin-top:8px;}
.center_right dd{ width:1px; height:15px; background:#E4E4E6; float:left; margin-top:39px;}
.center_right .inDex{ display:inline-block; width:79px;}
.center_right dt a{ color:#999999; font-size:18px;}
.center_right dt a:hover{ color:#0092d7;}
/*广告位*/
.banner{ width:100%; height:190px;}
.banner img{ width:100%;}
/*reg2*/
.reg2next{text-align: center;}
.reg2{width: 100%;background: #f7f6f6; padding-top:50px;}
.reg2con{width:1001px; min-width:1001px; margin:0px auto;padding:0px 105px;}
.reg_step2{width:100%;height:110px;background: url("../images/reg_step2.png") no-repeat center top; margin-bottom:50px;}
.reg2tit{height: 44px;line-height: 44px;background: #ed6d00;color:#fff;text-align: center;font-size: 24px;font-weight: normal;}
.regp{font-size: 14px;margin:20px auto;}
.int{position: relative;margin-bottom: 20px;}
.ts{padding-left: 10px;font-size: 14px;color: #ed6d00;}
.intface{width: 30px;height: 26px;display: inline-block;background:url("../images/log_icon.png") no-repeat;position: absolute;top:5px;left:4px;}
.pwdface{background-position: 0px -60px;top:5px;left:8px;}
.pwd1face{background-position: 0px -60px;top:5px;left:8px;}
.phoface{background-position: 0px -120px;top:6px;left:8px;}
.code{width: 100px;height: 40px;line-height: 40px;font-size: 14px;text-align: center; display: inline-block;background:#c4c4c4;color:#3690f5;position: absolute;top:1px;left:211px;cursor: pointer;}
.renface,.renface1{background-position: 0px -185px;top:8px;left:8px;}
.int input{width:270px;padding:12px 0px;font-size:14px;padding-left: 40px;border:1px solid #d0d0d0;}
.regtt{font-size: 14px;}
.reg_check{margin-right: 5px;}
.reg2r{width:360px;height: 340px;border:1px solid #d0d0d0;margin-top: 60px;background: #fff;padding:15px;word-break:break-all；word-wrap:break-word;overflow-y: scroll;overflow-x:hidden;}
.reg2r h3{height: 34px;line-height: 34px;color:#ed6d00;text-align: center;font-size: 20px;font-weight: normal;}
.reg2r p{width:345px;font-size: 14px;text-indent: 2em;}
.reg2next{text-align: center;}
.reg2btn{background-color: #2174d1;color: #fff;width:156px;height:43px;line-height: 43px;text-align: center;font-size: 18px;display: inline-block;margin:40px auto;border:none;cursor: pointer;}
.reg2btn:hover{opacity: 0.8;filter:alpha(opacity=80);}
/*foot*/
.foot{width: 100%;min-width:1200px;height: 220px;background: #363636;color:#d1d1d1;font-size: 14px;}
.footcon{width:1200px; margin:0 auto;padding:30px 0;position: relative;}
.conrp1{font-size: 16px;}
.conrp2{font-size: 40px;}
.foot1{ height:197px; position: absolute;left:20px;top:20px;background: url(../images/foot_bg.jpg) no-repeat  right 20px;padding-right:45px;}
.foot1 ul li{float: left; width:110px;}
.foot1 a{color:#d1d1d1; line-height:25px; font-size:14px;}
.foot1 a:hover{color:#ed6d00;}
.footh3{padding:13px 0px 20px;font-size: 16px;font-weight: normal;color: #fff;}
.foot2{position: absolute; width:400px; left:535px;top:20px;text-align: left;font-size:14px;}
.foot2 .footbg{width:32px;height:32px;display: inline-block; background:url("../images/foot_icon.png") no-repeat 0px -32px;float: left;margin-right: 10px;}
.foot2con p span{margin-right: 15px;line-height: 25px;}
.foot3{position: absolute;right:150px;top:20px;text-align: center; background:url(../images/foot_bg.jpg) no-repeat 0px center; padding-left:50px;}
.foot3h{padding:13px 0px 15px; font-size:14px; font-weight:normal; color: #fff;}
.foot4h{height:60px;line-height:30px; font-size: 16px;font-weight: normal;padding-left:40px;margin-bottom:15px;color: #fff;padding-top: 10px;}
.foot4p1{font-size:40px;color: #d1d1d1;}
.foot4p3{margin-top: 10px;color: #fff;font-size: 16px;}
.foot4p3 img{margin-bottom: 3px;}
.foot4p4{ display: inline-block;}
.footlink{width:100%; min-width:1200px; height:40px; background: #2b2b2b;}
.footlink a{ font-size:16px; color:#fff; margin-right:30px;}
